# Set operations

In [ ]:
a = set([1,2,3])
b = set([1,2,4])

In [ ]:
a | b  # union

{1, 2, 3, 4}

In [ ]:
a & b  # intersections

{1, 2}

In [ ]:
a ^ b  # symmetric intersection

{3, 4}

In [ ]:
a - b

{3}

In [ ]:
b - a

{4}